<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <div class="messages">
  
    <div *ngFor="let msg of messages" class="msg">

      <div *ngIf="msg.sender != withUser" class="msg-me">
        <div class="msg-content">
          <p>{{msg.body}}</p>
        </div>
      </div>
  
      <div *ngIf="msg.sender == withUser" class="msg-match">
        <div class="msg-content">
            <p>{{msg.body}}</p>
        </div>
      </div>
      <P class="msg-time">{{msg.time}}</P>

    </div>

  </div>

  <div class="message-form">

     <ion-input type="text" [(ngModel)]="newMessage" placeholder="Start typing ..."></ion-input>

    <button (click)="sendMessage()" ion-button icon-only round> <ion-icon name="send"></ion-icon></button>   

  </div>

</ion-content>
