page-chat {
    
    .messages {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        padding-bottom: 3em;
        
        .msg {
            width: 100%;
            padding: 0.3em 1em;
            position: 	relative;
            display: flex;
            flex-flow: column nowrap;
        }

        .msg-me  {
            right: 0;
            position: relative;
        }

        .msg-match  {
            left: 0;
            position: relative;
        }

        
        .msg-me .msg-content{
            background: #777;
            border-radius: 1em;
            color: #fff;
            float: right;
        }

        .msg-match .msg-content{
            background: color($colors, primary);
            border-radius: 1em;
            color: #fff;
        }

        .msg-content{
            padding: 0.5em;
            position: relative;
            max-width: 80%;
        }

    }
    
    .message-form {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4.5em;
        padding: 0.3em;
        
        input.text-input {
            width: 80%;
            float: left;
            height: 2.8em;
            border-radius: 1.5em;
            border: 1px solid #e5e5e5;
            padding-left: 1em;
            margin-left: 0.5em;
        }

        button {
           position: absolute;
           right: 0.2em;
        }

    }


}
