<!-- Generated template for the MatchFoundComponent component -->
<div>
    <p class="itsamatch">It's a match!</p>
    <img class="match-profile first-profile" src="assets/imgs/avatar-peter.png" />
    <img class="match-profile second-profile" src="assets/imgs/avatar-jens.png" />
    <div class="chat-button-container"> 
      <button (click)="onStartChat()" ion-button icon-right round color="primary">
          start chat   
          <ion-icon name="send"></ion-icon>
      </button> 
    </div>
  </div>
